<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>REBU - Admin |
			{% block title %}{% endblock %}
		</title>
		<!-- Google Font: Source Sans Pro -->
		<link
		rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
		<!-- Select2 -->
		<link
		href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
		<!--Datepicker-->
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="{{ asset('assets/back-office/plugins/fontawesome-free/css/all.min.css') }}">
		{% block stylesheets_position_order_fixed_1 %}
			{# Some css must be placed exactly after the previous files, that's why I created this block  #}
		{% endblock %}
		<!-- Theme style -->
		<link
		rel="stylesheet" href="{{ asset('assets/back-office/dist/css/adminlte.min.css') }}">
		<!-- overlayScrollbars -->
		<link rel="stylesheet" href="{{ asset('assets/back-office/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}"> {% block stylesheets_position_order_fixed_2 %}{% endblock %}
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}
			{# Some css must be placed exactly after the previous files, that's why I created this block  #}
		{% endblock %}
	</head>
	<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
		<div class="wrapper">
			{% include "administration/partials/navbar.html.twig" %}
			<!-- /.navbar -->
			<!-- Main Sidebar Container -->
			{% include "administration/partials/sidebar.html.twig" %}
			<!-- /.Main Sidebar Container -->
			<!-- Content Wrapper. Contains page content -->
				<div
				class="content-wrapper"> <!--EMPLACEMENT DES PAGES / ESPACE COMMUN-->
				{% block body %}{% endblock %}
			</div>
			<!-- /.content-wrapper -->
			<!-- Footer Wrapper. Contains page footer -->
			{% include "administration/partials/footer.html.twig" %}<!-- /.Footer Wrapper. Contains page footer -->
			<!-- Control Sidebar --><aside
				class="control-sidebar control-sidebar-dark"> <!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->
		<!-- jQuery -->
		<script src="{{ asset('assets/back-office/plugins/jquery/jquery.min.js') }}"></script>
		<!--Select2-->
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
		<!--Datepicker-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
		<!-- Bootstrap 4 -->
		<script src="{{ asset('assets/back-office/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<!-- overlayScrollbars -->
		<script src="{{ asset('assets/back-office/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
		<!-- AdminLTE App -->
		<script src="{{ asset('assets/back-office/dist/js/adminlte.js') }}"></script>
		{#{{ encore_entry_script_tags('app') }}#}
		<script>
			$(function () {
$('select').select2();
});
$(document).ready(function () { // you may need to change this code if you are not using Bootstrap Datepicker
$('.js-datepicker').datepicker({format: 'yyyy-mm-dd'});
});
		</script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
